# 제로베이스 데이터 사이언스 스쿨 22기 SQL 과제 2
- 유가 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점
- 3번 10점
- 4번 30점
- 5번 10점
- 6번 10점
- 7번 15점
- 8번 15점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

문제 1.

주유소 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [1]:
from mysql.connector import connect

conn = connect(
	host = "database-1.cjyesy60ukq4.us-east-2.rds.amazonaws.com",
	port = 3306,
	user = "oneday",
	password = "1234",
	database = "oneday"
)
cursor = conn.cursor(buffered=True)

In [84]:
conn = connect(
	host = "localhost",
	user = "root",
	password = "MSQanfqud42!",
	database = "git_sqldb"
)
cursor = conn.cursor(buffered=True)

In [82]:
cursor.close()
conn.close()

In [4]:
query = """
CREATE TABLE gas_brand (
	id int NOT NULL AUTO_INCREMENT PRIMARY KEY,
	name varchar(16)
);
"""
cursor.execute(query)

In [5]:
query = """
CREATE TABLE gas_station(
	id int NOT NULL AUTO_INCREMENT PRIMARY KEY,
	brand int,
	name varchar(64),
	city char(2),
	gu varchar(10),
	address varchar(128),
	gasoline int,
	diesel int,
	self boolean,
	car_wash boolean,
	charging_station boolean,
	car_maintenance boolean,
	convenience_store boolean,
	24_hours boolean,
	lat decimal(16,14),
	lng decimal(17,14),
	FOREIGN KEY (brand) REFERENCES gas_brand(id)
);
"""
cursor.execute(query)

제출 1.
- Table 생성 결과 : Desc GAS_BRAND; Desc GAS_STATION;

In [6]:
import pandas as pd

cursor.execute("DESC gas_brand;")
result = cursor.fetchall()
df = pd.DataFrame(result)
for col in cursor.description:
    print(col, col[0])

('Field', 253, None, None, None, None, 1, 0, 255) Field
('Type', 252, None, None, None, None, 0, 4241, 255) Type
('Null', 253, None, None, None, None, 0, 1, 255) Null
('Key', 254, None, None, None, None, 0, 4481, 255) Key
('Default', 252, None, None, None, None, 1, 144, 255) Default
('Extra', 253, None, None, None, None, 1, 0, 255) Extra

In [7]:
df.columns = [col[0] for col in cursor.description]
df

  Field         Type Null  Key Default           Extra
0    id          int   NO  PRI    None  auto_increment
1  name  varchar(16)  YES         None

In [8]:
cursor.execute("DESC gas_station")
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = cursor.column_names
df

                Field            Type Null  Key Default           Extra
0                  id             int   NO  PRI    None  auto_increment
1               brand             int  YES  MUL    None
2                name     varchar(64)  YES         None
3                city         char(2)  YES         None
4                  gu     varchar(10)  YES         None
5             address    varchar(128)  YES         None
6            gasoline             int  YES         None
7              diesel             int  YES         None
8                self      tinyint(1)  YES         None
9            car_wash      tinyint(1)  YES         None
10   charging_station      tinyint(1)  YES         None
11    car_maintenance      tinyint(1)  YES         None
12  convenience_store      tinyint(1)  YES         None
13           24_hours      tinyint(1)  YES         None
14                lat  decimal(16,14)  YES         None
15                lng  decimal(17,14)  YES         None

문제 2.

Python 코드로 GAS_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

In [9]:
cursor.execute("INSERT INTO gas_brand VALUES(1, 'SK에너지')")
cursor.execute("INSERT INTO gas_brand VALUES(2, '현대오일뱅크')")
cursor.execute("INSERT INTO gas_brand VALUES(3, 'GS칼텍스')")
cursor.execute("INSERT INTO gas_brand VALUES(4, 'S-OIL')")
cursor.execute("INSERT INTO gas_brand VALUES(5, '알뜰주유소')")
cursor.execute("INSERT INTO gas_brand VALUES(6, '자가상표')")
conn.commit()

In [34]:
# case_2
query = "INSERT INTO gas_brand VALUES (%s, %s)"
cursor.execute(query, (1, "SK에너지"))
cursor.execute(query, (2, "현대오일뱅크"))
cursor.execute(query, (3, "GS칼텍스"))
cursor.execute(query, (4, "S-OIL"))
cursor.execute(query, (5, "알뜰주유소"))
cursor.execute(query, (6, "자가상표"))
conn.commit()

In [46]:
cursor.execute("SELECT * FROM gas_brand")
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = cursor.column_names
df

   id    name
0   1   SK에너지
1   2  현대오일뱅크
2   3   GS칼텍스
3   4   S-OIL
4   5   알뜰주유소
5   6    자가상표

In [36]:
cursor.execute("DELETE FROM gas_brand")
#conn.commit()

In [38]:
cursor.execute("SELECT * FROM gas_brand")
result = cursor.fetchall()
result

[]

In [9]:
# case_3-1
query = open("02_gas_brand.sql").read()
print(query)
query

INSERT INTO gas_brand VALUES (1, "SK에너지");
INSERT INTO gas_brand VALUES (2, "현대오일뱅크");
INSERT INTO gas_brand VALUES (3, "GS칼텍스");
INSERT INTO gas_brand VALUES (4, "S-OIL");
INSERT INTO gas_brand VALUES (5, "알뜰주유소");
INSERT INTO gas_brand VALUES (6, "자가상표");

'INSERT INTO gas_brand VALUES (1, "SK에너지");\nINSERT INTO gas_brand VALUES (2, "현대오일뱅크");\nINSERT INTO gas_brand VALUES (3, "GS칼텍스");\nINSERT INTO gas_brand VALUES (4, "S-OIL");\nINSERT INTO gas_brand VALUES (5, "알뜰주유소");\nINSERT INTO gas_brand VALUES (6, "자가상표");'

In [10]:
# case_3-2
for iter in cursor.execute(query, multi=True):
    print(iter.with_rows)
    print(iter.statement)

conn.commit()

False
INSERT INTO gas_brand VALUES (1, "SK에너지")
False
INSERT INTO gas_brand VALUES (2, "현대오일뱅크")
False
INSERT INTO gas_brand VALUES (3, "GS칼텍스")
False
INSERT INTO gas_brand VALUES (4, "S-OIL")
False
INSERT INTO gas_brand VALUES (5, "알뜰주유소")
False
INSERT INTO gas_brand VALUES (6, "자가상표")

제출 2.
- GAS_BRAND 조회 결과 : SELECT * FROM GAS_BRAND;

In [51]:
cursor.execute("SELECT * FROM gas_brand")
result = cursor.fetchall()
print(result)

rows = []
for iter in result:
	row = dict(zip(cursor.column_names, iter))
	print(row)
	rows.append(dict(zip(cursor.column_names, iter)))

cursor.column_names

[(1, 'SK에너지'), (2, '현대오일뱅크'), (3, 'GS칼텍스'), (4, 'S-OIL'), (5, '알뜰주유소'), (6, '자가상표')]
{'id': 1, 'name': 'SK에너지'}
{'id': 2, 'name': '현대오일뱅크'}
{'id': 3, 'name': 'GS칼텍스'}
{'id': 4, 'name': 'S-OIL'}
{'id': 5, 'name': '알뜰주유소'}
{'id': 6, 'name': '자가상표'}

('id', 'name')

In [48]:
rows

[{'id': 1, 'name': 'SK에너지'},
 {'id': 2, 'name': '현대오일뱅크'},
 {'id': 3, 'name': 'GS칼텍스'},
 {'id': 4, 'name': 'S-OIL'},
 {'id': 5, 'name': '알뜰주유소'},
 {'id': 6, 'name': '자가상표'}]

In [49]:
df = pd.DataFrame(rows)
df

   id    name
0   1   SK에너지
1   2  현대오일뱅크
2   3   GS칼텍스
3   4   S-OIL
4   5   알뜰주유소
5   6    자가상표

In [52]:
new_list = list(map(list, zip(*result)))
new_list

[[1, 2, 3, 4, 5, 6], ['SK에너지', '현대오일뱅크', 'GS칼텍스', 'S-OIL', '알뜰주유소', '자가상표']]

In [53]:
dict(zip(cursor.column_names, new_list))

{'id': [1, 2, 3, 4, 5, 6],
 'name': ['SK에너지', '현대오일뱅크', 'GS칼텍스', 'S-OIL', '알뜰주유소', '자가상표']}

In [54]:
df = pd.DataFrame(dict(zip(cursor.column_names, new_list)))
df

   id    name
0   1   SK에너지
1   2  현대오일뱅크
2   3   GS칼텍스
3   4   S-OIL
4   5   알뜰주유소
5   6    자가상표

In [11]:
cursor.execute("SELECT * FROM gas_brand")
result = cursor.fetchall()
df = pd.DataFrame(dict(zip(cursor.column_names, list(map(list, zip(*result))))))
df

   id    name
0   1   SK에너지
1   2  현대오일뱅크
2   3   GS칼텍스
3   4   S-OIL
4   5   알뜰주유소
5   6    자가상표

문제 3.

다음의 함수와 그 함수를 테스트하는 코드를 작성하세요. (PDF 파일 참고)

- 화폐단위 문자형을 입력받아 숫자형으로 반환하는 함수 (테스트 입력 : ‘1,000’)
- 주유소 브랜드를 입력하면 GAS_BRAND 데이터를 참고하여 ID 를 반환하는 함수 (테스트 입력 : ‘SK에너지’)
- 주소를 입력받아 구 이름을 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)
- 주소를 입력받아 위도, 경도를 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)

제출 3.
- 각 함수 및 테스트 코드와 실행결과

- 화폐단위 문자형을 입력받아 숫자형으로 반환하는 함수 (테스트 입력 : ‘1,000’)

In [12]:
def rm_munit(price):
    return int(price.replace(",", ""))

rlt = rm_munit("1,000")
print(rlt, type(rlt))

1000 <class 'int'>

- 주유소 브랜드를 입력하면 GAS_BRAND 데이터를 참고하여 ID 를 반환하는 함수 (테스트 입력 : ‘SK에너지’)

In [ ]:
# MySQLCursor.execute() Method

"""
This method executes the given database operation (query or command).
The parameters found in the tuple or dictionary params are bound to the variables in the operation.
Specify variables using %s or %(name)s parameter style (that is, using format or pyformat style).
execute() returns an iterator if multi is True.

Note
In Python, a tuple containing a single value must include a comma.
For example, ('abc') is evaluated as a scalar while ('abc',) is evaluated as a tuple.

Example
insert_stmt = (
  "INSERT INTO employees (emp_no, first_name, last_name, hire_date) "
  "VALUES (%s, %s, %s, %s)"
)
data = (2, 'Jane', 'Doe', datetime.date(2012, 3, 23))
cursor.execute(insert_stmt, data)

select_stmt = "SELECT * FROM employees WHERE emp_no = %(emp_no)s"
cursor.execute(select_stmt, { 'emp_no': 2 })
"""

In [57]:
brand_name = "S-OIL"
query_ele = {"name": brand_name}
query_ele

{'name': 'S-OIL'}

In [64]:
brand_name = "S-OIL"
query = "SELECT id FROM gas_brand WHERE name=%(brand)s"
cursor.execute(query, {"brand": brand_name})
result = cursor.fetchall()
print(result, result[0], result[0][0])

[(4,)] (4,) 4

In [66]:
brand_name = "S-OIL"
query = "SELECT id FROM gas_brand WHERE name=%s"
cursor.execute(query, (brand_name,))
result = cursor.fetchone()[0]
#print(result, result[0])
result, type(result)

(4, int)

In [76]:
cursor.execute("SELECT id FROM gas_brand WHERE name='SK'")
result = cursor.fetchone()
print(result, None)
if not result:
    print("NONE")
if result:
    print("TEST")

None None
NONE

In [79]:
print(type(None))

<class 'NoneType'>

In [13]:
def get_brand_id(brand):
    if brand == "HD현대오일뱅크":
        brand = "현대오일뱅크"
    elif brand == "알뜰(ex)":
        brand = "알뜰주유소"
    
    query = "SELECT id FROM gas_brand WHERE name=%s"
    cursor.execute(query, (brand,))
    result = cursor.fetchone()
    if result:
        return result[0]
    else:
        return -1

rlt = get_brand_id("SK에너지")
print(rlt, type(rlt))
rlt = get_brand_id("HD현대오일뱅크")
print(rlt, type(rlt))

1 <class 'int'>
2 <class 'int'>

- 주소를 입력받아 구 이름을 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)

In [14]:
def get_gu(address):
    return address.split()[1]

get_gu('서울시 강남구 헌릉로 730')

'강남구'

- 주소를 입력받아 위도, 경도를 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)

In [96]:
query = "insert into temp value (%s, %s, %s)"
cursor.execute(query, (True, None, None))
cursor.execute(query, (False, None, None))
conn.commit()

In [59]:
import googlemaps as gm

gm_api_key = "AIzaSyA4sdzAgIcBUWnWQ6Widv8Pwhzf9XFj2Ss"
gmaps = gm.Client(key=gm_api_key)

def get_lat_lng(address):
    gm_info = gmaps.geocode(address, language="ko")
    # print(gm_info)
    
    if len(gm_info):
        lat = gm_info[0].get("geometry")["location"]["lat"]
        lng = gm_info[0].get("geometry")["location"]["lng"]
    else:
        lat = None
        lng = None
    
    return lat, lng

rlt = get_lat_lng('서울시 강남구 헌릉로 730')
print(rlt, type(rlt))

(37.4665675, 127.1190803) <class 'tuple'>

문제 4.

Python 코드에서 주유소 페이지에서 데이터를 가져올때, GAS_STATION 테이블에 바로 입력하도록 수정하세요. (앞서 생 성한 함수활용)
- 주의. city 는 ‘서울’ 로 고정, 부가정보 데이터 타입
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.


제출 4.
- 주유소 데이터 관련 코드 (ipynb)

In [16]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

chromedriver_path = "./chromedriver-win64/chromedriver.exe"
service = Service(executable_path=chromedriver_path)
options = webdriver.ChromeOptions()

driver = webdriver.Chrome(options=options, service=service)

opinet_url = "https://www.opinet.co.kr/searRgSelect.do"
driver.get(opinet_url)

driver.set_window_position(x=3268, y=235)
driver.set_window_size(width=1000, height=1080)

In [17]:
# 부가 정보 4가지 체크 선택

add_info_list = driver.find_element(
	By.CSS_SELECTOR,
	"#searrgVO > div.search_gis > div > div.search_form > dl > dd:nth-child(10) > ul"
).find_elements(By.TAG_NAME, "input")

for add_info in add_info_list:
    print(add_info.get_attribute("id"))
    add_info.click()

CWSH_YN
MAINT_YN
CVS_YN
SEL24_YN

In [18]:
# 서울 선택

driver.find_element(By.CSS_SELECTOR, "#SIDO_NM0").send_keys("서울")
'''
OR
driver.find_element(By.CSS_SELECTOR, "#SIDO_NM0 > option:nth-child(2)").click()
'''

'\nOR\ndriver.find_element(By.CSS_SELECTOR, "#SIDO_NM0 > option:nth-child(2)").click()\n'

In [86]:
# 구 리스트 생성

gu_lump = driver.find_element(By.ID, "SIGUNGU_NM0")
gu_list = [tag.text for tag in gu_lump.find_elements(By.TAG_NAME, "option")]
del gu_list[0]
print(gu_list)

['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구']

In [88]:
gu_button = driver.find_element(By.CSS_SELECTOR, f"#SIGUNGU_NM0 > option:nth-child(2)")
print(gu_button.get_attribute("value"), gu_button.text)

강남구 강남구

In [89]:
import time

for num in range(2, 27):
    gu_button = driver.find_element(By.CSS_SELECTOR, f"#SIGUNGU_NM0 > option:nth-child({num})")
    print(gu_button.text, end="  ")
    gu_button.click()
    time.sleep(1)

강남구  강동구  강북구  강서구  관악구  광진구  구로구  금천구  노원구  도봉구  동대문구  동작구  마포구  서대문구  서초구  성동구  성북구  송파구  양천구  영등포구  용산구  은평구  종로구  중구  중랑구

In [95]:
# #body1 > tr:nth-child(1) > td.rlist > a
# #body1 > tr:nth-child(1) > td.rlist > span > span
station_list = driver.find_elements(By.CSS_SELECTOR, "#body1 > tr > td.rlist")
for station in station_list[:3]:
    print(station.find_element(By.CSS_SELECTOR, "span.ic.ico_self > span").text)
    tmp = station.find_element(By.CSS_SELECTOR, "a")
    print(tmp.text)
    tmp.click()
    time.sleep(2)

셀프
면목SELF주유소
셀프
대양주유소
셀프
오천만주유소

In [19]:
from bs4 import BeautifulSoup
import time

# 서울시 전체 주유소 데이터 가져오기

query = "INSERT INTO gas_station VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

id = 1
for select_num in range(2, 27):
    # 구 선택
    driver.find_element(By.CSS_SELECTOR, f"#SIGUNGU_NM0 > option:nth-child({select_num})").click()
    
    # 구별 주유소 리스트
    search_list = driver.find_elements(By.CSS_SELECTOR, "#body1 > tr > td.rlist")
    print()
    
    for station in search_list:
        try:
            station.find_element(By.CSS_SELECTOR, "span.ic.ico_self")
            SELF = True
        except:
            SELF = False
        finally:
            station.find_element(By.CSS_SELECTOR, "a").click()
            time.sleep(2)
            
            html = driver.page_source
            soup = BeautifulSoup(html, "html.parser")
            
            name = soup.select_one("#os_nm").text
            addr = soup.select_one("#rd_addr").text
            gu = get_gu(addr)
            lat, lng = get_lat_lng(addr)
            brand = soup.select_one("#poll_div_nm").text
            brand_id = get_brand_id(brand)
            gasoline = rm_munit(soup.select_one("#b027_p").text)
            diesel = rm_munit(soup.select_one("#d047_p").text)
            CWSH = True if soup.find(id="cwsh_yn").get("src").find("off") < 0 else False
            LPG = True if soup.find(id="lpg_yn").get("src").find("off") < 0 else False
            MAINT = True if soup.find(id="maint_yn").get("src").find("off") < 0 else False
            CVS = True if soup.find(id="cvs_yn").get("src").find("off") < 0 else False
            SEL24 = True if soup.find(id="sel24_yn").get("src").find("off") < 0 else False
            
            data = (id, brand_id, name, "서울", gu, addr, gasoline, diesel, SELF, CWSH, LPG, MAINT, CVS, SEL24, lat, lng)
            cursor.execute(query, data)
            conn.commit()
            print(f"{id} --> ", brand, data)
            id += 1

1 -->  SK에너지 (1, 1, '(주)보성 세곡주유소', '서울', '강남구', '서울 강남구  헌릉로 731 (세곡동)', 1603, 1504, True, True, False, False, False, False, 37.4671565, 127.1187081)
2 -->  HD현대오일뱅크 (2, 2, 'HD현대오일뱅크㈜직영 산성셀프주유소', '서울', '강남구', '서울 강남구 헌릉로 730', 1619, 1525, True, True, False, False, False, False, 37.4665675, 127.1190803)
3 -->  GS칼텍스 (3, 3, '방죽주유소', '서울', '강남구', '서울 강남구 밤고개로 215 (율현동)', 1637, 1559, True, True, False, False, False, False, 37.4749926, 127.1068866)
4 -->  SK에너지 (4, 1, '자곡셀프주유소', '서울', '강남구', '서울 강남구 밤고개로 120 (자곡동)', 1658, 1579, True, True, False, False, False, False, 37.4834002, 127.1040458)
5 -->  HD현대오일뱅크 (5, 2, 'HD현대오일뱅크㈜직영 도곡셀프주유소', '서울', '강남구', '서울 강남구  남부순환로 2718 (도곡2동)', 1669, 1579, True, True, False, True, False, False, 37.4854623, 127.0432181)
6 -->  SK에너지 (6, 1, '오일프러스 셀프', '서울', '강남구', '서울 강남구 남부순환로 2651 (도곡동)', 1675, 1595, True, True, False, True, False, True, 37.485839, 127.0396721)
7 -->  S-OIL (7, 4, '극동유화㈜ 개나리주유소', '서울', '강남구', '서울 강남구 언주로 423 (역삼동)', 1675, 1585, True, True, False, True, False, True, 37.5000776, 127.0385419)
8 -->  HD현대오일뱅크 (8, 2, 'HD현대오일뱅크㈜직영 유진주유소', '서울', '강남구', '서울 강남구 논현로 152 (도곡동)', 1679, 1594, False, True, False, True, False, False, 37.4874316, 127.0399976)
9 -->  SK에너지 (9, 1, '대교셀프주유소', '서울', '강남구', '서울 강남구 강남대로 640 (신사동)', 1680, 1650, True, False, False, False, False, True, 37.5281292, 127.0355537)
10 -->  HD현대오일뱅크 (10, 2, '삼성동주유소', '서울', '강남구', '서울 강남구 테헤란로 619 (삼성동)', 1715, 1615, True, True, False, False, False, False, 37.5098576, 127.0651101)
11 -->  SK에너지 (11, 1, '(주)중앙에너비스 수서지점', '서울', '강남구', '서울 강남구 광평로 202 (수서동)', 1717, 1617, True, True, False, False, False, False, 37.4841053, 127.0950401)
12 -->  SK에너지 (12, 1, 'SK서광주유소', '서울', '강남구', '서울 강남구 역삼로 142', 1735, 1615, True, True, False, True, False, True, 37.4943424, 127.0350915)
13 -->  S-OIL (13, 4, '(주)선진도곡주유소', '서울', '강남구', '서울 강남구 도곡로 162 (도곡동)', 1739, 1635, False, True, False, True, False, False, 37.4878254, 127.0466876)
14 -->  SK에너지 (14, 1, 'SK에너지㈜ 진달래주유소', '서울', '강남구', '서울 강남구 도곡로 208', 1739, 1645, False, True, False, False, False, False, 37.492295, 127.0418598)
15 -->  GS칼텍스 (15, 3, '지에스칼텍스㈜에너지플러스허브GS타워', '서울', '강남구', '서울 강남구 논현로 516 (역삼동)', 1739, 1699, True, False, False, True, False, True, 37.50270829999999, 127.0363956)
16 -->  SK에너지 (16, 1, '대동석유 압구정주유소', '서울', '강남구', '서울 강남구 언주로 842 (신사동)', 1767, 1697, True, True, False, False, False, True, 37.5253431, 127.0338242)
17 -->  SK에너지 (17, 1, '(유)동하석유 힐탑셀프주유소', '서울', '강남구', '서울 강남구 논현로 640', 1767, 1697, True, True, False, False, False, True, 37.5106887, 127.0325689)
18 -->  GS칼텍스 (18, 3, '세진에너지(주) 개포주유소', '서울', '강남구', '서울 강남구 양재대로 339', 1898, 1798, True, True, False, False, False, False, 37.4722409, 127.0515134)
19 -->  GS칼텍스 (19, 3, '지에스칼텍스㈜ 삼성로주유소', '서울', '강남구', '서울 강남구 삼성로 563 (삼성동)', 1909, 1859, True, True, False, False, False, True, 37.51397499999999, 127.0561274)
20 -->  HD현대오일뱅크 (20, 2, 'HD현대오일뱅크㈜직영 신사현대주유소', '서울', '강남구', '서울 강남구 도산대로 163 (신사동)', 1928, 1874, False, True, False, False, False, False, 37.5195205, 127.0263171)
21 -->  GS칼텍스 (21, 3, '지에스칼텍스㈜ 은마주유소', '서울', '강남구', '서울 강남구 영동대로 235', 1929, 1879, False, True, False, True, False, True, 37.5000721, 127.0672848)
22 -->  GS칼텍스 (22, 3, '대성석유(주)동호주유소', '서울', '강남구', '서울 강남구 봉은사로113길 51', 1969, 1862, False, True, False, False, False, False, 37.518486, 127.0646655)
23 -->  GS칼텍스 (23, 3, '지에스칼텍스(주)학여울주유소', '서울', '강남구', '서울 강남구 남부순환로 3170 (일원2동)', 2039, 1965, False, True, False, False, False, False, 37.4946762, 127.0778305)
24 -->  HD현대오일뱅크 (24, 2, 'HD현대오일뱅크㈜직영 한양주유소', '서울', '강남구', '서울 강남구 압구정로 302 (신사동)', 2153, 2086, False, True, False, False, False, False, 37.5288681, 127.0341046)
25 -->  S-OIL (25, 4, '명품주유소', '서울', '강남구', '서울 강남구 도곡로 249 (역삼동)', 2158, 2067, True, True, False, False, False, True, 37.4942704, 127.0455093)
26 -->  GS칼텍스 (26, 3, '(주)소모 쎈트럴주유소', '서울', '강남구', '서울 강남구 삼성로 335', 2177, 2072, False, True, False, False, False, False, 37.5014209, 127.0591408)
27 -->  SK에너지 (27, 1, '대청주유소', '서울', '강남구', '서울 강남구 개포로 654 (일원동)', 2195, 2086, False, True, False, False, False, False, 37.49247370000001, 127.085679)
28 -->  HD현대오일뱅크 (28, 2, '㈜새서울석유 새서울주유소', '서울', '강남구', '서울 강남구 압구정로 154', 2198, 2088, False, True, False, False, False, True, 37.525835, 127.0265422)
29 -->  SK에너지 (29, 1, 'SK논현주유소', '서울', '강남구', '서울 강남구 논현로 747 (논현동)', 2345, 2195, False, True, False, True, False, True, 37.5186368, 127.028238)
30 -->  HD현대오일뱅크 (30, 2, '(주)제이제이네트웍스 제이제이주유소', '서울', '강남구', '서울 강남구 언주로 716', 2580, 2430, False, True, False, False, False, True, 37.5176472, 127.0357349)
31 -->  GS칼텍스 (31, 3, '(주)만정에너지 삼보주유소', '서울', '강남구', '서울 강남구 봉은사로 433 (삼성동)', 2598, 2560, False, True, False, False, False, False, 37.5115207, 127.0471716)

32 -->  HD현대오일뱅크 (32, 2, '재건에너지 재정제2주유소 고속셀프지점', '서울', '강동구', '서울특별시 강동구  천호대로 1246 (둔촌제2동)', 1609, 1509, True, True, False, False, False, False, 37.5365133, 127.1493588)
33 -->  SK에너지 (33, 1, '방아다리주유소', '서울', '강동구', '서울 강동구 동남로 811 (명일동)', 1665, 1575, True, True, False, False, False, False, 37.5490445, 127.1508229)
34 -->  GS칼텍스 (34, 3, '(주)삼표에너지 고덕주유소', '서울', '강동구', '서울 강동구 고덕로 39 (암사동)', 1675, 1585, True, True, False, False, True, False, 37.555049, 127.1297929)
35 -->  GS칼텍스 (35, 3, '(주)소모 신월주유소', '서울', '강동구', '서울 강동구 양재대로 1323 (성내동)', 1676, 1588, True, True, False, False, False, False, 37.5304933, 127.128992)
36 -->  GS칼텍스 (36, 3, '대성석유(주)길동주유소', '서울', '강동구', '서울 강동구 천호대로 1168', 1686, 1588, False, True, False, False, False, False, 37.5334229, 127.1411725)
37 -->  S-OIL (37, 4, '(주)퍼스트오일 코알라주유소', '서울', '강동구', '서울특별시 강동구  올림픽로 556 (성내동)', 1690, 1590, True, True, False, False, False, False, 37.5293808, 127.1224408)
38 -->  SK에너지 (38, 1, '주)지유에너지직영 오렌지주유소', '서울', '강동구', '서울 강동구 성안로 102 (성내동)', 1694, 1594, False, True, False, True, False, False, 37.532314, 127.1331781)
39 -->  SK에너지 (39, 1, 'sk해뜨는주유소', '서울', '강동구', '서울 강동구  상일로 132 (강일동)', 1699, 1609, True, True, False, True, False, False, 37.5545085, 127.1724154)
40 -->  GS칼텍스 (40, 3, '(주)소모 성내주유소', '서울', '강동구', '서울 강동구 올림픽로 578 (성내동)', 1738, 1638, True, True, False, True, False, False, 37.5313782, 127.1273286)
41 -->  GS칼텍스 (41, 3, '지에스칼텍스㈜ 동서울주유소', '서울', '강동구', '서울 강동구 천호대로 1456 (상일동)', 1749, 1679, True, True, False, False, False, False, 37.5511028, 127.1696401)
42 -->  HD현대오일뱅크 (42, 2, '천호현대주유소', '서울', '강동구', '서울 강동구 천중로 67 (천호동)', 1843, 1743, False, True, False, True, False, False, 37.5451331, 127.129473)
43 -->  S-OIL (43, 4, '광성주유소', '서울', '강동구', '서울 강동구 올림픽로 673 (천호동)', 1968, 1858, False, True, False, True, False, True, 37.5416117, 127.1241731)

44 -->  SK에너지 (44, 1, 'SK에너지(주) 매일주유소', '서울', '강북구', '서울 강북구 삼양로 217 (미아동)', 1559, 1464, True, True, False, False, True, False, 37.6227977, 127.0191356)
45 -->  SK에너지 (45, 1, '북서울고속주유소', '서울', '강북구', '서울 강북구 삼양로 410 (수유동)', 1559, 1464, True, False, False, False, False, True, 37.6401448, 127.017205)
46 -->  GS칼텍스 (46, 3, '수유동주유소', '서울', '강북구', '서울 강북구 도봉로 395 (수유동)', 1559, 1464, True, True, False, False, False, True, 37.6421556, 127.0295862)
47 -->  GS칼텍스 (47, 3, '대성석유(주)신광주유소', '서울', '강북구', '서울 강북구 삼양로 484', 1589, 1499, False, True, False, True, False, False, 37.6464088, 127.0153285)
48 -->  S-OIL (48, 4, '씨앤에스유통㈜ 미아셀프주유소', '서울', '강북구', '서울 강북구 도봉로 200 (미아동)', 1595, 1495, True, True, False, False, False, False, 37.6265292, 127.0265002)
49 -->  S-OIL (49, 4, '덕릉로주유소', '서울', '강북구', '서울 강북구 덕릉로 158 (번동)', 1595, 1495, True, True, False, False, False, False, 37.6349756, 127.0313182)
50 -->  SK에너지 (50, 1, '에덴주유소', '서울', '강북구', '서울 강북구 월계로 195 (번동)', 1615, 1505, True, True, False, True, False, False, 37.6216958, 127.0455344)
51 -->  SK에너지 (51, 1, '세원주유소', '서울', '강북구', '서울 강북구 한천로 918 (번동)', 1628, 1528, True, True, False, False, False, False, 37.6342596, 127.037732)
52 -->  HD현대오일뱅크 (52, 2, 'HD현대오일뱅크㈜직영 번동셀프주유소', '서울', '강북구', '서울 강북구 한천로 963 (번동)', 1647, 1557, True, True, False, True, False, True, 37.6355872, 127.0330493)

53 -->  SK에너지 (53, 1, '강서오곡셀프주유소', '서울', '강서구', '서울 강서구 벌말로 254 (오곡동)', 1555, 1447, True, True, False, False, False, True, 37.5539622, 126.7684275)
54 -->  HD현대오일뱅크 (54, 2, '이케이에너지(주) 강서주유소', '서울', '강서구', '서울 강서구 화곡로 273 (화곡동)', 1559, 1469, True, True, False, True, False, False, 37.549163, 126.8469964)
55 -->  알뜰주유소 (55, 5, '화곡역주유소', '서울', '강서구', '서울 강서구 강서로 154 (화곡동)', 1568, 1478, True, False, False, False, False, True, 37.5407186, 126.8415303)
56 -->  GS칼텍스 (56, 3, '지에스칼텍스㈜ 경인고속주유소', '서울', '강서구', '서울 강서구 국회대로 225 (화곡동)', 1579, 1489, True, True, True, True, False, True, 37.5296209, 126.859797)
57 -->  알뜰주유소 (57, 5, '목화주유소', '서울', '강서구', '서울 강서구 국회대로 251 (화곡동)', 1579, 1489, True, True, False, False, False, False, 37.5300403, 126.8629825)
58 -->  HD현대오일뱅크 (58, 2, '행촌에너지 공항주유소', '서울', '강서구', '서울 강서구 개화동로 420 (개화동)', 1595, 1493, True, True, False, True, True, True, 37.574611, 126.8023029)
59 -->  S-OIL (59, 4, '스카이주유소', '서울', '강서구', '서울 강서구 개화동로 457 (방화동)', 1595, 1493, True, True, False, False, True, True, 37.5714858, 126.8043806)
60 -->  SK에너지 (60, 1, 'KH에너지(주)직영 KH외발산주유소', '서울', '강서구', '서울 강서구 방화대로 30', 1595, 1495, True, True, True, True, True, False, 37.5434208, 126.816863)
61 -->  S-OIL (61, 4, '(주)한진 김포공항주유소', '서울', '강서구', '서울 강서구 하늘길 259', 1599, 1535, True, True, False, False, False, False, 37.5507763, 126.8155549)
62 -->  알뜰주유소 (62, 5, '뉴신정주유소', '서울', '강서구', '서울 강서구 곰달래로 207 (화곡동)', 1599, 1509, False, False, False, True, False, False, 37.5315796, 126.8560524)
63 -->  SK에너지 (63, 1, '개화주유소', '서울', '강서구', '서울 강서구 양천로 57', 1617, 1517, True, True, False, False, False, False, 37.5735014, 126.8100943)
64 -->  SK에너지 (64, 1, '화곡현대주유소', '서울', '강서구', '서울 강서구 강서로 151 (화곡동)', 1626, 1546, True, True, False, False, False, True, 37.5402614, 126.8411983)
65 -->  HD현대오일뱅크 (65, 2, '현대오일뱅크 등촌주유소', '서울', '강서구', '서울 강서구 등촌로 189 (등촌동)', 1636, 1546, False, True, False, False, False, False, 37.546808, 126.8625545)
66 -->  GS칼텍스 (66, 3, '강서열린주유소', '서울', '강서구', '서울 강서구 등촌로 213 (등촌동)', 1638, 1548, False, True, False, False, False, False, 37.54871199999999, 126.8630628)
67 -->  HD현대오일뱅크 (67, 2, 'HD현대오일뱅크㈜직영 양화교셀프주유소', '서울', '강서구', '서울 강서구 공항대로 653', 1639, 1564, True, True, False, False, False, False, 37.5473368, 126.8774764)
68 -->  S-OIL (68, 4, '신화곡주유소', '서울', '강서구', '서울 강서구 국회대로 71', 1645, 1545, True, True, False, False, False, False, 37.5272579, 126.8428896)
69 -->  S-OIL (69, 4, '하이웨이주유소', '서울', '강서구', '서울특별시 강서구 공항대로 432(화곡동)', 1648, 1575, True, True, False, False, True, True, 37.5546677, 126.8548053)
70 -->  GS칼텍스 (70, 3, '대성석유(주) 관문주유소', '서울', '강서구', '서울 강서구 공항대로 314', 1658, 1598, False, True, False, True, False, False, 37.5577232, 126.8425243)
71 -->  HD현대오일뱅크 (71, 2, 'HD현대오일뱅크㈜직영 가양주유소', '서울', '강서구', '서울 강서구  양천로 391 (가양동)', 1669, 1619, False, True, False, False, False, False, 37.5678802, 126.8510787)
72 -->  GS칼텍스 (72, 3, '대성석유(주)방화대성주유소', '서울', '강서구', '서울 강서구 양천로 176', 1676, 1598, True, True, False, False, True, False, 37.5728815, 126.8234821)
73 -->  SK에너지 (73, 1, '세원제1주유소', '서울', '강서구', '서울 강서구 양천로 311 (가양동)', 1688, 1628, True, True, False, True, False, False, 37.5678802, 126.8510787)
74 -->  SK에너지 (74, 1, 'SK KH에너지 가양주유소', '서울', '강서구', '서울 강서구 강서로 498 (가양동)', 1698, 1638, False, True, False, True, True, True, 37.5697823, 126.8419022)
75 -->  GS칼텍스 (75, 3, '대성주유소', '서울', '강서구', '서울 강서구 강서로 472', 1698, 1638, False, True, False, True, False, False, 37.5675028, 126.8414186)
76 -->  GS칼텍스 (76, 3, '박물관주유소', '서울', '강서구', '서울 강서구 양천로53길 97 (가양동)', 1728, 1668, False, True, False, True, True, False, 37.5657849, 126.8451216)
77 -->  SK에너지 (77, 1, '코리나(주)청룡주유소', '서울', '강서구', '서울 강서구 양천로 576', 1748, 1668, False, True, False, False, False, False, 37.5567325, 126.862765)
78 -->  S-OIL (78, 4, '참솔에너지', '서울', '강서구', '서울 강서구 벌말로 281 (오곡동)', 1835, 1735, True, True, False, False, False, False, 37.5562519, 126.7684491)
79 -->  SK에너지 (79, 1, '염창동주유소', '서울', '강서구', '서울 강서구 양천로 720 (염창동)', 1935, 1860, False, True, False, False, False, False, 37.5491113, 126.8757906)

80 -->  HD현대오일뱅크 (80, 2, 'HD현대오일뱅크㈜직영 문성골주유소', '서울', '관악구', '서울 관악구 문성로 97 (신림동)', 1589, 1489, False, True, False, False, False, False, 37.4777941, 126.9143022)
81 -->  알뜰주유소 (81, 5, '(주)연우에너지 신관주유소', '서울', '관악구', '서울 관악구 신림로 290 (신림동)', 1615, 1515, True, True, False, False, False, False, 37.480413, 126.9306665)
82 -->  SK에너지 (82, 1, '대양석유(주)직영 보라매주유소', '서울', '관악구', '서울 관악구  보라매로 26 (봉천동)', 1624, 1524, True, True, False, False, False, False, 37.4916874, 126.9271603)
83 -->  GS칼텍스 (83, 3, '서일석유(주)락성주유소', '서울', '관악구', '서울 관악구 남부순환로 1920 (봉천동)', 1645, 1545, True, True, False, True, False, True, 37.47717919999999, 126.9623883)
84 -->  SK에너지 (84, 1, '(주)한유에너지행운셀프주유소', '서울', '관악구', '서울 관악구 남부순환로 1883 (봉천동)', 1645, 1545, True, True, False, False, False, False, 37.4791083, 126.9591697)
85 -->  S-OIL (85, 4, '유림주유소', '서울', '관악구', '서울 관악구 신림로 176 (신림동)', 1648, 1548, False, True, False, True, False, True, 37.4737247, 126.93488)
86 -->  SK에너지 (86, 1, 'SK에너지(주) 신봉천', '서울', '관악구', '서울 관악구 남부순환로 1880 (봉천동)', 1649, 1555, False, True, False, False, True, False, 37.4787572, 126.9583432)
87 -->  SK에너지 (87, 1, 'SK에너지(주)직영 대공원주유소', '서울', '관악구', '서울 관악구 과천대로 921 (남현동)', 1649, 1555, False, True, False, True, True, False, 37.4728556, 126.9821515)
88 -->  S-OIL (88, 4, '관악시몬주유소', '서울', '관악구', '서울특별시 관악구 남부순환로 1753 (봉천동)', 1735, 1625, False, True, False, False, False, False, 37.4823585, 126.945101)
89 -->  GS칼텍스 (89, 3, 'CJ대한통운㈜ 신림주유소', '서울', '관악구', '서울 관악구 남부순환로 1515 (신림동)', 1798, 1698, False, True, False, False, False, False, 37.4829496, 126.9189553)

90 -->  HD현대오일뱅크 (90, 2, '(주)창원CW', '서울', '광진구', '서울 광진구 광나루로 460 (화양동)', 1589, 1495, True, True, False, False, False, False, 37.5451042, 127.0804969)
91 -->  HD현대오일뱅크 (91, 2, 'HD현대오일뱅크㈜직영 능동주유소', '서울', '광진구', '서울 광진구 천호대로 584 (능동)', 1589, 1495, True, True, False, True, False, True, 37.5555551, 127.082455)
92 -->  HD현대오일뱅크 (92, 2, 'HD현대오일뱅크㈜직영 중원셀프주유소', '서울', '광진구', '서울 광진구 동일로 398 (중곡동)', 1598, 1509, True, True, False, False, False, False, 37.56354400000001, 127.0888304)
93 -->  HD현대오일뱅크 (93, 2, 'HD현대오일뱅크㈜직영 장호셀프주유소', '서울', '광진구', '서울 광진구 자양로 37 (자양동)', 1598, 1515, True, True, False, True, False, False, 37.5312783, 127.0858325)
94 -->  SK에너지 (94, 1, '(주)장수주유소', '서울', '광진구', '서울 광진구 동일로 266 (군자동)', 1607, 1515, True, False, False, True, False, True, 37.5549721, 127.0715197)
95 -->  HD현대오일뱅크 (95, 2, '태양주유소', '서울', '광진구', '서울 광진구 동일로 345 (중곡동)', 1654, 1494, False, False, False, False, False, True, 37.56354400000001, 127.0888304)
96 -->  S-OIL (96, 4, '정해네트웍스(주)일진주유소', '서울', '광진구', '서울 광진구 동일로 413 (중곡동)', 1667, 1567, True, True, False, False, False, True, 37.56354400000001, 127.0888304)
97 -->  S-OIL (97, 4, '삼호주유소', '서울', '광진구', '서울 광진구 천호대로 809 (광장동)', 1697, 1597, True, True, False, False, False, True, 37.5456356, 127.1037341)
98 -->  SK에너지 (98, 1, '유니스에너지 자양주유소', '서울', '광진구', '서울 광진구 아차산로 298 (자양동)', 1728, 1628, False, True, False, False, False, False, 37.531692, 127.074516)
99 -->  SK에너지 (99, 1, '강평주유소 ㈜강평텔레콤', '서울', '광진구', '서울 광진구 아차산로 616', 1848, 1697, False, True, False, False, False, False, 37.5476119, 127.1072051)

100 -->  SK에너지 (100, 1, '서서울고속주유소', '서울', '구로구', '서울 구로구 경인로 150 (오류동)', 1542, 1454, True, True, False, False, False, True, 37.49167509999999, 126.8428418)
101 -->  HD현대오일뱅크 (101, 2, '㈜자연에너지 고척주유소', '서울', '구로구', '서울 구로구 고척로 199 (고척동)', 1549, 1464, True, True, False, False, False, False, 37.5051273, 126.8554406)
102 -->  S-OIL (102, 4, '씨앤에스유통(주) 구로드림주유소', '서울', '구로구', '서울 구로구 경인로 41 (온수동)', 1555, 1465, True, True, False, False, False, False, 37.4903245, 126.8256021)
103 -->  GS칼텍스 (103, 3, '(주)한미석유구로그린주유소', '서울', '구로구', '서울 구로구 구로중앙로 76 (구로동)', 1585, 1495, True, True, False, True, False, False, 37.4963064, 126.8884444)
104 -->  HD현대오일뱅크 (104, 2, '대원셀프주유소', '서울', '구로구', '서울 구로구 개봉로 7', 1585, 1485, True, True, False, False, False, False, 37.4861643, 126.8561585)
105 -->  HD현대오일뱅크 (105, 2, '신성주유소', '서울', '구로구', '서울 구로구 구로동로 187 (구로제2동)', 1585, 1485, True, True, False, False, False, False, 37.4951588, 126.8823886)
106 -->  S-OIL (106, 4, '극동유화(주) 항동주유소', '서울', '구로구', '서울 구로구 서해안로 2154 (항동)', 1595, 1495, True, True, False, False, False, False, 37.4834391, 126.8278279)
107 -->  GS칼텍스 (107, 3, '대성산업(주)디큐브주유소', '서울', '구로구', '서울 구로구 경인로 650 (신도림동)', 1615, 1495, False, False, False, False, False, True, 37.5078855, 126.8870874)
108 -->  SK에너지 (108, 1, '구인주유소', '서울', '구로구', '서울 구로구 경인로 558 (구로동)', 1617, 1517, False, True, False, True, True, False, 37.5042779, 126.8860944)
109 -->  SK에너지 (109, 1, 'SK구로주유소', '서울', '구로구', '서울 구로구 구일로 94 (구로동)', 1617, 1517, False, True, False, False, False, False, 37.4936018, 126.872189)
110 -->  SK에너지 (110, 1, 'SK에너지(주)직영 개봉동주유소', '서울', '구로구', '서울 구로구 경인로 290 (개봉동)', 1619, 1554, False, True, False, False, False, False, 37.4863899, 126.8567675)
111 -->  HD현대오일뱅크 (111, 2, 'HD현대오일뱅크㈜직영 구로셀프주유소', '서울', '구로구', '서울 구로구 시흥대로 531', 1644, 1534, True, True, False, True, False, True, 37.4810027, 126.8992662)
112 -->  HD현대오일뱅크 (112, 2, 'HD현대오일뱅크㈜직영 신구로주유소', '서울', '구로구', '서울 구로구 가마산로 293 (구로동)', 1654, 1573, False, True, False, False, False, False, 37.4975223, 126.8924841)
113 -->  HD현대오일뱅크 (113, 2, 'JHC에너지', '서울', '구로구', '서울 구로구 시흥대로 539', 1883, 1793, False, False, False, True, False, False, 37.4815266, 126.8998375)
114 -->  S-OIL (114, 4, '동아주유소', '서울', '구로구', '서울 구로구 도림로 91 (구로동)', 1898, 1598, False, False, False, False, True, False, 37.4908509, 126.8931878)

115 -->  SK에너지 (115, 1, '(주)화동유업 화동주유소', '서울', '금천구', '서울 금천구 시흥대로 484', 1593, 1493, True, True, False, False, False, False, 37.4767974, 126.8991596)
116 -->  HD현대오일뱅크 (116, 2, 'HD현대오일뱅크㈜직영 금천현대셀프주유소', '서울', '금천구', '서울 금천구 독산로 147 (시흥동)', 1594, 1499, True, True, False, False, False, False, 37.460506, 126.9045162)
117 -->  S-OIL (117, 4, '구광주유소', '서울', '금천구', '서울 금천구 서부샛길 674 (가산동)', 1595, 1495, False, True, False, False, False, False, 37.4820373, 126.8751711)
118 -->  GS칼텍스 (118, 3, '대득에너지(금천셀프주유소)', '서울', '금천구', '서울 금천구  시흥대로 81 (시흥동)', 1645, 1545, True, True, False, False, True, True, 37.4412805, 126.9029246)
119 -->  SK에너지 (119, 1, 'SK에너지(주) 이가주유소', '서울', '금천구', '서울 금천구 시흥대로 441', 1645, 1545, False, True, False, True, False, False, 37.4730289, 126.8979341)
120 -->  S-OIL (120, 4, '백산주유소', '서울', '금천구', '서울특별시 금천구  시흥대로 174 (시흥동)', 1645, 1545, True, True, False, True, False, False, 37.4496856, 126.9029496)
121 -->  HD현대오일뱅크 (121, 2, '현대오일뱅크㈜직영 금천제일주유소', '서울', '금천구', '서울 금천구 남부순환로 1410 (독산동)', 1649, 1539, False, True, False, False, False, False, 37.4802077, 126.9074805)

122 -->  GS칼텍스 (122, 3, '월계주유소', '서울', '노원구', '서울 노원구 월계로 252 (월계동)', 1575, 1485, True, True, False, True, False, False, 37.6247784, 127.0507659)
123 -->  HD현대오일뱅크 (123, 2, '(주)정건에너지직영', '서울', '노원구', '서울 노원구 노원로17길 29 (하계동)', 1585, 1495, True, True, False, False, False, False, 37.642188, 127.0703943)
124 -->  GS칼텍스 (124, 3, '이엠석유(주)배꽃나라주유소', '서울', '노원구', '서울 노원구 화랑로 466 (공릉1동)', 1585, 1495, True, True, False, True, False, False, 37.6238137, 127.0735097)
125 -->  S-OIL (125, 4, '한신주유소', '서울', '노원구', '서울 노원구 동일로 1089 (공릉동)', 1590, 1495, True, True, False, False, False, False, 37.6304722, 127.0909904)
126 -->  S-OIL (126, 4, '구도일주유소 불암', '서울', '노원구', '서울 노원구 한글비석로 268 (중계동)', 1611, 1518, True, True, False, False, False, False, 37.6513513, 127.0772401)
127 -->  HD현대오일뱅크 (127, 2, '화랑대주유소', '서울', '노원구', '서울 노원구 화랑로 483', 1615, 1515, True, True, False, False, False, False, 37.61957719999999, 127.0806305)
128 -->  SK에너지 (128, 1, '삼육주유소', '서울', '노원구', '서울 노원구 화랑로 822 (공릉동)', 1615, 1515, True, True, False, False, False, False, 37.6386379, 127.1090597)
129 -->  S-OIL (129, 4, '태릉솔밭주유소', '서울', '노원구', '서울 노원구 노원로 49 (공릉동)', 1625, 1535, True, True, False, False, False, True, 37.6259652, 127.0855897)
130 -->  HD현대오일뱅크 (130, 2, '상계동주유소', '서울', '노원구', '서울 노원구 노원로26길 191 (상계동)', 1625, 1555, False, False, False, True, False, False, 37.6583938, 127.0711375)
131 -->  GS칼텍스 (131, 3, '성북역주유소', '서울', '노원구', '서울 노원구 광운로 95 (월계동)', 1638, 1538, False, True, False, False, False, False, 37.625771, 127.0599365)

In [20]:
cursor.execute("SELECT COUNT(*) FROM gas_station;")
print("입력된 데이터의 총 갯수 --> ", cursor.fetchone()[0])

입력된 데이터의 총 갯수 -->  361

In [21]:
cursor.execute("SELECT * FROM gas_station LIMIT 10;")
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = cursor.column_names
df

,id,brand,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
0,1,1,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1603,1504,1,1,0,0,0,0,37.46715650000000,127.11870810000000
1,2,2,HD현대오일뱅크㈜직영 산성셀프주유소,서울,강남구,서울 강남구 헌릉로 730,1619,1525,1,1,0,0,0,0,37.46656750000000,127.11908030000000
2,3,3,방죽주유소,서울,강남구,서울 강남구 밤고개로 215 (율현동),1637,1559,1,1,0,0,0,0,37.47499260000000,127.10688660000000
3,4,1,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1658,1579,1,1,0,0,0,0,37.48340020000000,127.10404580000000
4,5,2,HD현대오일뱅크㈜직영 도곡셀프주유소,서울,강남구,서울 강남구 남부순환로 2718 (도곡2동),1669,1579,1,1,0,1,0,0,37.48546230000000,127.04321810000000
5,6,1,오일프러스 셀프,서울,강남구,서울 강남구 남부순환로 2651 (도곡동),1675,1595,1,1,0,1,0,1,37.48583900000000,127.03967210000000
6,7,4,극동유화㈜ 개나리주유소,서울,강남구,서울 강남구 언주로 423 (역삼동),1675,1585,1,1,0,1,0,1,37.50007760000000,127.03854190000000
7,8,2,HD현대오일뱅크㈜직영 유진주유소,서울,강남구,서울 강남구 논현로 152 (도곡동),1679,1594,0,1,0,1,0,0,37.48743160000000,127.03999760000000
8,9,1,대교셀프주유소,서울,강남구,서울 강남구 강남대로 640 (신사동),1680,1650,1,0,0,0,0,1,37.52812920000000,127.03555370000000
9,10,2,삼성동주유소,서울,강남구,서울 강남구 테헤란로 619 (삼성동),1715,1615,1,1,0,0,0,0,37.50985760000000,127.06511010000000

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10 non-null     int64
 1   brand              10 non-null     int64
 2   name               10 non-null     object
 3   city               10 non-null     object
 4   gu                 10 non-null     object
 5   address            10 non-null     object
 6   gasoline           10 non-null     int64
 7   diesel             10 non-null     int64
 8   self               10 non-null     int64
 9   car_wash           10 non-null     int64
 10  charging_station   10 non-null     int64
 11  car_maintenance    10 non-null     int64
 12  convenience_store  10 non-null     int64
 13  24_hours           10 non-null     int64
 14  lat                10 non-null     object
 15  lng                10 non-null     object
dtypes: int64(10), object(6)
memory usage: 1.4+ KB

In [23]:
driver.quit()

문제 5.

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작성)
- 전체 데이터를 가져오는데, 주유소 브랜드 아이디 대신 브랜드명이 표시되어야 합니다. (정렬 : 주유소 매장 아이디 순)
- 다음의 형식으로 저장되어야 함 (브랜드 이름, 칼럼 명 주의, id : GAS_STORE.id)

제출 5.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

In [42]:
query = """
SELECT s.id, b.name brand, s.name, city, gu, address, gasoline, diesel, 
self, car_wash, charging_station, car_maintenance, convenience_store, 24_hours, lat, lng 
FROM gas_brand AS b, gas_station AS s 
WHERE b.id=s.brand ORDER BY s.id;
"""
cursor.execute(query)
result = cursor.fetchall()
df = pd.DataFrame(result)
df.columns = cursor.column_names
df

,id,brand,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
0,1,SK에너지,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1603,1504,1,1,0,0,0,0,37.46715650000000,127.11870810000000
1,2,현대오일뱅크,HD현대오일뱅크㈜직영 산성셀프주유소,서울,강남구,서울 강남구 헌릉로 730,1619,1525,1,1,0,0,0,0,37.46656750000000,127.11908030000000
2,3,GS칼텍스,방죽주유소,서울,강남구,서울 강남구 밤고개로 215 (율현동),1637,1559,1,1,0,0,0,0,37.47499260000000,127.10688660000000
3,4,SK에너지,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1658,1579,1,1,0,0,0,0,37.48340020000000,127.10404580000000
4,5,현대오일뱅크,HD현대오일뱅크㈜직영 도곡셀프주유소,서울,강남구,서울 강남구 남부순환로 2718 (도곡2동),1669,1579,1,1,0,1,0,0,37.48546230000000,127.04321810000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,357,S-OIL,(주)태영 구도일주유소 한인,서울,중랑구,서울 중랑구 망우로 170 (상봉동),1627,1527,1,1,0,1,0,0,37.59246550000000,127.07190800000000
357,358,SK에너지,신내주유소,서울,중랑구,서울 중랑구 용마산로 705 (신내동),1632,1533,1,1,0,0,0,0,37.61712500000000,127.09589620000000
358,359,SK에너지,용마로주유소,서울,중랑구,서울 중랑구 용마산로 309 (면목동),1638,1518,1,1,0,0,0,0,37.57987770000000,127.09218190000000
359,360,S-OIL,범아주유소,서울,중랑구,서울 중랑구 동일로 881 (묵동),1658,1558,0,1,0,1,0,0,37.60931110000000,127.07767250000000
360,361,SK에너지,신일셀프주유소,서울,중랑구,서울 중랑구 상봉로 58 (망우동),1659,1568,1,1,0,1,0,1,37.59094190000000,127.09380660000000

In [43]:
df.to_csv("./sql_oil_station.csv", index=False, encoding="utf-8")

In [44]:
df = pd.read_csv("./sql_oil_station.csv")
df

,id,brand,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
0,1,SK에너지,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1603,1504,1,1,0,0,0,0,37.467157,127.118708
1,2,현대오일뱅크,HD현대오일뱅크㈜직영 산성셀프주유소,서울,강남구,서울 강남구 헌릉로 730,1619,1525,1,1,0,0,0,0,37.466567,127.119080
2,3,GS칼텍스,방죽주유소,서울,강남구,서울 강남구 밤고개로 215 (율현동),1637,1559,1,1,0,0,0,0,37.474993,127.106887
3,4,SK에너지,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1658,1579,1,1,0,0,0,0,37.483400,127.104046
4,5,현대오일뱅크,HD현대오일뱅크㈜직영 도곡셀프주유소,서울,강남구,서울 강남구 남부순환로 2718 (도곡2동),1669,1579,1,1,0,1,0,0,37.485462,127.043218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,357,S-OIL,(주)태영 구도일주유소 한인,서울,중랑구,서울 중랑구 망우로 170 (상봉동),1627,1527,1,1,0,1,0,0,37.592466,127.071908
357,358,SK에너지,신내주유소,서울,중랑구,서울 중랑구 용마산로 705 (신내동),1632,1533,1,1,0,0,0,0,37.617125,127.095896
358,359,SK에너지,용마로주유소,서울,중랑구,서울 중랑구 용마산로 309 (면목동),1638,1518,1,1,0,0,0,0,37.579878,127.092182
359,360,S-OIL,범아주유소,서울,중랑구,서울 중랑구 동일로 881 (묵동),1658,1558,0,1,0,1,0,0,37.609311,127.077673
360,361,SK에너지,신일셀프주유소,서울,중랑구,서울 중랑구 상봉로 58 (망우동),1659,1568,1,1,0,1,0,1,37.590942,127.093807

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 361 non-null    int64
 1   brand              361 non-null    object
 2   name               361 non-null    object
 3   city               361 non-null    object
 4   gu                 361 non-null    object
 5   address            361 non-null    object
 6   gasoline           361 non-null    int64
 7   diesel             361 non-null    int64
 8   self               361 non-null    int64
 9   car_wash           361 non-null    int64
 10  charging_station   361 non-null    int64
 11  car_maintenance    361 non-null    int64
 12  convenience_store  361 non-null    int64
 13  24_hours           361 non-null    int64
 14  lat                361 non-null    float64
 15  lng                361 non-null    float64
dtypes: float64(2), int64(9), object(5)
memory usage: 45.2+ KB

문제 6.

위도, 경도 정보를 이용하여 미왕빌딩에서 1킬로 이내에 위치한 주유소 정보를 검색하세요.

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 미왕빌딩으로 부터의 거리 (km)

제출 6.
- 쿼리, 결과

MySQL 위도 경도를 활용해서 거리를 계산하는 구문을 작성

- 출처: https://yusang.tistory.com/48

In [ ]:
sql = '''
SELECT s.id, b.name, s.address, 
(6371*acos(cos(radians(s.lat))*cos(radians(37.4955699))*cos(radians(127.0293726)-radians(s.lng))+sin(radians(s.lat))*sin(radians(37.4955699))))
AS distance FROM gas_station s, gas_brand b WHERE s.brand = b.id HAVING distance<=1
'''

In [60]:
'''
위도와 경도로 거리를 구하는 방법에는 여러 가지 방법이 있지만, 가장 널리 사용되는 방법 중 하나는 Haversine 공식을 이용하는 것입니다.
이 공식은 지구상의 두 지점 간의 직선 거리를 계산하는 데 사용됩니다.

Haversine 공식은 다음과 같이 표현됩니다:

```
a = sin²(Δφ/2) + cos φ1 * cos φ2 * sin²(Δλ/2)
c = 2 * atan2( √a, √(1-a) )
d = R * c
```
여기서,
- φ1, φ2: 두 지점의 위도
- λ1, λ2: 두 지점의 경도
- Δφ = φ2 - φ1
- Δλ = λ2 - λ1
- R: 지구의 반지름 (보통 평균 지구 반지름인 6371km를 사용)

이 공식을 사용하여 두 지점 사이의 거리를 계산할 수 있습니다.
이를 위해 일반적으로 프로그래밍 언어의 수학 함수를 사용하여 삼각함수 및 역삼각함수를 계산합니다.

예를 들어 Python에서는 다음과 같이 구현할 수 있습니다.
이 코드는 두 지점 간의 거리를 킬로미터 단위로 계산합니다.
'''

from math import radians, sin, cos, sqrt, atan2

def haversine(lat1, lon1, lat2, lon2):
    R = 6371.0  # 지구의 반지름 (km)

    # 위도와 경도를 라디안으로 변환
    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    # 위도와 경도의 차이를 계산
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Haversine 공식을 이용하여 거리 계산
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c

    return distance

# 예시: 두 지점 간의 거리 계산 (서울과 뉴욕의 경우)
seoul_lat, seoul_lon = 37.5665, 126.9780  # 서울 위도, 경도
new_york_lat, new_york_lon = 40.7128, -74.0060  # 뉴욕 위도, 경도

distance = haversine(seoul_lat, seoul_lon, new_york_lat, new_york_lon)
print("두 지점 간의 거리 (km):", distance)

두 지점 간의 거리 (km): 11052.576827952955

In [61]:
from geopy.distance import geodesic

# 두 지점의 위도와 경도
coords_1 = (52.2296756, 21.0122287)  # Warsaw, Poland
coords_2 = (41.8919300, 12.5113300)  # Rome, Italy

# 두 지점 사이의 거리 계산
distance = geodesic(coords_1, coords_2).kilometers

print("Distance (in kilometers):", distance)

Distance (in kilometers): 1316.2080833061775

In [62]:
# 미왕빌딩 37.4955366 127.0293521
point_1 = get_lat_lng("서울특별시 강남구 역삼동 826-21")

In [31]:
query = "SELECT id, lat, lng FROM gas_station LIMIT 10;"
cursor.execute(query)
location = cursor.fetchall()
location, type(location[0][1]), float(location[0][1])

([(1, Decimal('37.46715650000000'), Decimal('127.11870810000000')),
  (2, Decimal('37.46656750000000'), Decimal('127.11908030000000')),
  (3, Decimal('37.47499260000000'), Decimal('127.10688660000000')),
  (4, Decimal('37.48340020000000'), Decimal('127.10404580000000')),
  (5, Decimal('37.48546230000000'), Decimal('127.04321810000000')),
  (6, Decimal('37.48583900000000'), Decimal('127.03967210000000')),
  (7, Decimal('37.50007760000000'), Decimal('127.03854190000000')),
  (8, Decimal('37.48743160000000'), Decimal('127.03999760000000')),
  (9, Decimal('37.52812920000000'), Decimal('127.03555370000000')),
  (10, Decimal('37.50985760000000'), Decimal('127.06511010000000'))],
 decimal.Decimal,
 37.4671565)

In [34]:
for id, lat, lng in location:
    print(id, lat, type(lng), float(lat), float(lng))

1 37.46715650000000 <class 'decimal.Decimal'> 37.4671565 127.1187081
2 37.46656750000000 <class 'decimal.Decimal'> 37.4665675 127.1190803
3 37.47499260000000 <class 'decimal.Decimal'> 37.4749926 127.1068866
4 37.48340020000000 <class 'decimal.Decimal'> 37.4834002 127.1040458
5 37.48546230000000 <class 'decimal.Decimal'> 37.4854623 127.0432181
6 37.48583900000000 <class 'decimal.Decimal'> 37.485839 127.0396721
7 37.50007760000000 <class 'decimal.Decimal'> 37.5000776 127.0385419
8 37.48743160000000 <class 'decimal.Decimal'> 37.4874316 127.0399976
9 37.52812920000000 <class 'decimal.Decimal'> 37.5281292 127.0355537
10 37.50985760000000 <class 'decimal.Decimal'> 37.5098576 127.0651101

In [86]:
query = "SELECT id, lat, lng FROM gas_station;"
cursor.execute(query)
location = cursor.fetchall()
df = pd.DataFrame(location)
df.columns = cursor.column_names
df

      id                lat                 lng
0      1  37.46715650000000  127.11870810000000
1      2  37.46656750000000  127.11908030000000
2      3  37.47499260000000  127.10688660000000
3      4  37.48340020000000  127.10404580000000
4      5  37.48546230000000  127.04321810000000
..   ...                ...                 ...
356  357  37.59246550000000  127.07190800000000
357  358  37.61712500000000  127.09589620000000
358  359  37.57987770000000  127.09218190000000
359  360  37.60931110000000  127.07767250000000
360  361  37.59094190000000  127.09380660000000

[361 rows x 3 columns]

In [68]:
search_data = []
query = "SELECT * FROM gas_station WHERE id=1;"
cursor.execute(query)
result = cursor.fetchall()[0]
print(result)
search_data.append(result)

(1, 1, '(주)보성 세곡주유소', '서울', '강남구', '서울 강남구  헌릉로 731 (세곡동)', 1603, 1504, 1, 1, 0, 0, 0, 0, Decimal('37.46715650000000'), Decimal('127.11870810000000'))

In [69]:
query = "SELECT * FROM gas_station WHERE id=2;"
cursor.execute(query)
result = cursor.fetchall()[0]
print(result)
search_data.append(result)

(2, 2, 'HD현대오일뱅크㈜직영 산성셀프주유소', '서울', '강남구', '서울 강남구 헌릉로 730', 1619, 1525, 1, 1, 0, 0, 0, 0, Decimal('37.46656750000000'), Decimal('127.11908030000000'))

In [71]:
df = pd.DataFrame(search_data)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1,1,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1603,1504,1,1,0,0,0,0,37.46715650000000,127.11870810000000
1,2,2,HD현대오일뱅크㈜직영 산성셀프주유소,서울,강남구,서울 강남구 헌릉로 730,1619,1525,1,1,0,0,0,0,37.46656750000000,127.11908030000000

In [63]:
# 미왕빌딩 37.4955366 127.0293521
point_1 = get_lat_lng("서울특별시 강남구 역삼동 826-21")

for id, lat, lng in location[:5]:
    point_2 = (float(lat), float(lng))
    distance = geodesic(point_1, point_2).kilometers
    haversine_distance = haversine(point_1[0], point_1[1], point_2[0], point_2[1])
    print(distance, haversine_distance)

8.513413436948813 8.498289769834178
8.568360834210539 8.553282117294556
7.232074921346738 7.218075849871399
6.747209127458216 6.732441446007306
1.6645798782313557 1.6638472755462899

In [88]:
# 미왕빌딩 37.4955366 127.0293521
point_1 = get_lat_lng("서울특별시 강남구 역삼동 826-21")

query = """
SELECT s.id, b.name brand, s.name, address 
FROM gas_brand b, gas_station s WHERE b.id=s.brand AND s.id=%s
"""

within_1km = []
for id, lat, lng in location:
    point_2 = (float(lat), float(lng))
    distance = geodesic(point_1, point_2).kilometers
    
    if distance <= 1:
        cursor.execute(query, (id,))
        within_1km.append(cursor.fetchall()[0]+(distance,))
        print(f"{id} --> {distance}km")
        
len(within_1km)

7 --> 0.9598005637550876km
12 --> 0.5301177918947013km
207 --> 0.8106070790047704km

3

In [90]:
df = pd.DataFrame(within_1km)
df.columns = cursor.column_names + ("distance_km",)
df

    id   brand                 name                address  distance_km
0    7   S-OIL         극동유화㈜ 개나리주유소   서울 강남구 언주로 423 (역삼동)     0.959801
1   12   SK에너지              SK서광주유소         서울 강남구 역삼로 142     0.530118
2  207  현대오일뱅크  HD현대오일뱅크㈜직영 서초제일주유소  서울 서초구 사임당로 116 (서초동)     0.810607

문제 7.

위도, 경도 정보를 이용하여 미왕빌딩에서 셀프주유가 가능하고 24시간이면서 편의점이 있는 가장 가까운 주유소 10개를 휘 발유 가격이 가장 저렴한 순으로 정렬하여 조회하세요.

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 휘발유 가격, 부가정보 (셀프, 24시간, 편의점 여부), 미왕빌딩으로 부터의 거리 (km)


제출 7.
- 쿼리, 결과

In [79]:
# 미왕빌딩 37.4955366 127.0293521
sql = '''
SELECT s.id, b.name brand, s.name, address, gasoline, self, 24_hours, convenience_store, 
(6371*acos(cos(radians(37.4955366))*cos(radians(s.lat))*cos(radians(s.lng)-radians(127.0293521))+sin(radians(37.4955366))*sin(radians(s.lat)))) distance 
FROM gas_brand b, gas_station s 
WHERE b.id=s.brand AND (self=1 AND 24_hours=1 AND convenience_store=1) 
ORDER BY distance LIMIT 10;
'''
query = """
SELECT s.id, b.name brand, s.name, s.address, s.gasoline, s.self, s.24_hours, s.convenience_store, s.distance_km 
FROM gas_brand b, (SELECT id, brand, name, address, gasoline, self, 24_hours, convenience_store, 
(6371*acos(cos(radians(37.4955366))*cos(radians(lat))*cos(radians(lng)-radians(127.0293521))+sin(radians(37.4955366))*sin(radians(lat)))) distance_km 
FROM gas_station WHERE self=1 AND 24_hours=1 AND convenience_store=1 ORDER BY distance_km LIMIT 10) s
WHERE b.id=s.brand ORDER BY gasoline;
"""
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall())
df.columns = cursor.column_names
df

,id,brand,name,address,gasoline,self,24_hours,convenience_store,distance_km
0,192,알뜰주유소,만남의광장주유소,서울 서초구 양재대로12길 73-71,1565,1,1,1,4.101206
1,301,SK에너지,행촌주유소,서울 영등포구 도신로 130 (신길동),1585,1,1,1,10.957517
2,179,현대오일뱅크,(주)가재울뉴타운주유소,서울 서대문구 모래내로 205,1593,1,1,1,12.790223
3,248,GS칼텍스,지에스칼텍스(주)가든파이브주유소,서울 송파구 탄천동로 740,1613,1,1,1,5.287642
4,187,SK에너지,행촌제2주유소,서울 서대문구 성산로 490 (대신동),1632,1,1,1,10.703505
5,263,SK에너지,백제고분로주유소,서울 송파구 오금로 143 (방이동),1633,1,1,1,7.940805
6,311,SK에너지,SK에너지(주) 기린주유소,서울 영등포구 선유로 270,1639,1,1,1,12.325648
7,287,현대오일뱅크,현대오일뱅크(주)직영 양천현대셀프주유소,서울 양천구 안양천로 1179 (목동),1639,1,1,1,14.206368
8,118,GS칼텍스,대득에너지(금천셀프주유소),서울 금천구 시흥대로 81 (시흥동),1645,1,1,1,12.684344
9,211,SK에너지,대신석유(주)대우주유소,서울 서초구 양재대로 173 (양재동),1689,1,1,1,3.708088

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10 non-null     int64
 1   brand              10 non-null     object
 2   name               10 non-null     object
 3   address            10 non-null     object
 4   gasoline           10 non-null     int64
 5   self               10 non-null     int64
 6   24_hours           10 non-null     int64
 7   convenience_store  10 non-null     int64
 8   distance_km        10 non-null     float64
dtypes: float64(1), int64(5), object(3)
memory usage: 848.0+ bytes

문제 8.

구별로 주유소 브랜드 별 휘발유 평균가격을 조회하여 저렴한 순으로 출력하세요.

- 구 이름, 주유소 브랜드 이름, 휘발유 평균 가격

제출 8.
- 쿼리, 결과

In [81]:
query = """
SELECT s.gu, b.name brand, AVG(s.gasoline) avg_gasoline FROM gas_brand b, gas_station s
WHERE b.id=s.brand GROUP BY s.gu, b.name ORDER BY s.gu, avg_gasoline;
"""
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall())
df.columns = cursor.column_names
df

     gu   brand avg_gasoline
0   강남구   SK에너지    1807.3636
1   강남구   S-OIL    1857.3333
2   강남구  현대오일뱅크    1942.6250
3   강남구   GS칼텍스    1988.3333
4   강동구   SK에너지    1686.0000
..  ...     ...          ...
93   중구   SK에너지    2121.5000
94   중구   GS칼텍스    2499.0000
95  중랑구   GS칼텍스    1580.3333
96  중랑구   S-OIL    1614.7500
97  중랑구   SK에너지    1626.5000

[98 rows x 3 columns]

In [91]:
cursor.close()
conn.close()

---

# The END~!!